.table-border {
    border: 2px solid #ccc;
    padding: 10px;
}

.table-title {
    font-size: 22px;
    text-align: center;
    padding: 26px 0;   
    border-bottom: 2px solid #ccc;
}

.details-container{
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.details-container .item-margin-bottom-10{
    margin-bottom: 10px;
    font-size: 14px;   
}
.title-padding{
    padding: 20px 20px 0;
}
