.education-whereabouts-container {
  .education-motivation-bar-chart,
  .education-satisfaction-bar-chart {
    width: 100%;
  }
  .education-overall-pie-chart,
  .education-oversea-pie-chart{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}