.company-feedback-container {
  .company-satisfaction-bar-chart{
    width: 100%;
    margin-bottom:10px;
  }
  .company-property-pie-chart{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .ability-evaluation-polar-chart{
    width:100%;
    height: 300px;
    margin-bottom:10px;
  }
}