@import "../../style/colors.scss";

.title {
  margin-bottom: 0.8em;
}

.section-title {
  margin-bottom: 1.5em;
}

.section-title:before {
  background-color: $primary-color;
  content: "";
  display: inline-block;
  width: 4px;
  height: 12px;
  margin-right: 10px;
}

.description {
  color: #AEAEAE;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.description:before {
  $bullet-size: 6px;

  background-color: $primary-color;
  content: "";
  display: inline-block;

  width: $bullet-size;
  height: $bullet-size;
  border-radius: $bullet-size / 2;
  margin-right: 10px;
}

.demo_img {
  width:100%;
}