@import "../../style/global.scss";
@import "../../style/colors.scss";

html, body {
  background-color: $default-background-color;
}

.main-wrapper {
  width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  background-color: $main-background-color;
}

.main-content {
  padding: $main-content-padding $main-content-padding-right $main-content-padding $main-content-padding-left;

}
